{% extends "base.html" %}
{% block title %}Patient Registration{% endblock %}
{% block content %}
<div class="auth-card">
<h2>Patient Registration</h2>
<form method="POST">
<label>Full Name</label><input class="form-control mb-3" name="full_name" required>
<label>Email</label><input class="form-control mb-3" type="email" name="email" required>
<label>Phone Number</label><input class="form-control mb-3" name="phone">
<label>Password</label><input class="form-control mb-3" type="password" name="password" minlength="6" required>
<button class="btn btn-primary w-100">Register</button>
</form>
</div>
{% endblock %}
